

/*FONT-FAMILY*/
$default-font: 'PT Sans',sans-serif;

/*FONT-SIZE*/
$default-size-font: 17px;

/*BACKGROUND*/
$default-site-bg: #ffffff;

//$default-bg: #eeeeee;

/*TEXT-COLOR*/
$base-color: #2c2c2c;

$alternate-color: #ff0109;
